.root {
    -fx-background-color: #483D8B;
}

.mouseOn:hover {
    -fx-background-color:#836FFF;
    -fx-cursor: hand;
}

.highlight {
    -fx-background-color: #E0FFFF;
    -fx-background-radius: 15;
}

.titulo{
	-fx-font-weight:bold;
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

.itemMenu{
	-fx-font-size: 16px;
	-fx-text-fill: white;
}