.root {
    -fx-background-color: #DCDCDC;
}


.painelTop {
    -fx-background-color: #483D8B;
}

.botao {
    -fx-background-color: #6959CD;
    -fx-font-size: 16px;
	-fx-text-fill: white;
}

.botaoPequeno {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
	-fx-text-fill: black;
	
	-fx-border-color: #483D8B;
	-fx-border-width: 2px 2px 2px 2px;
}

.mouseOn:hover {
    -fx-background-color:#836FFF;
    -fx-cursor: hand;
}

.mouseOn2:hover {
    -fx-background-color:#C0C0C0;
    -fx-cursor: hand;
}

.tituloIdentificacao{
	-fx-font-weight:bold;
	-fx-font-size: 30px;
	-fx-text-fill: white;
	
	-fx-background-color: transparent;
	-fx-border-color: white;
	-fx-border-width: 0px 0px 2px 0px;
}

.receberInformacao{
	-fx-background-color: transparent;
	-fx-border-color: #483D8B;
	-fx-border-width: 2px 2px 2px 2px;
	
	-fx-font-size: 18px;
	-fx-text-fill: #483D8B;
	
	-fx-prompt-text-fill: #483D8B;
}

.labelInformativa{
	-fx-font-weight:bold;
	-fx-font-size: 18px;
	-fx-text-fill: #483D8B;
}