.painel {
    -fx-background-color: linear-gradient(to bottom right, #483D8B, #836FFF	);
}

.root {
    -fx-background-color: #D3D3D3;
}

.botaoLogin{
	-fx-font-weight:bold;
    -fx-background-color: #483D8B;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    
}

.receberInformacaoLogin{
	-fx-background-color: transparent;
	-fx-border-color: #483D8B;
	-fx-border-width: 0px 0px 2px 0px;
	
	-fx-font-size: 18px;
	-fx-text-fill: #483D8B;
	
	-fx-prompt-text-fill: #483D8B;
}

.labelUsuarioSenha{
	-fx-font-weight:bold;
	-fx-font-size: 18px;
	-fx-text-fill: #483D8B;
}

.clicarBotaoLogin:hover {
    -fx-background-color:#836FFF;
    -fx-cursor: hand;
}


.corTest{
	-fx-background-color: #7FFF00;
}

.corTest2{
	-fx-background-color: #7B68EE;
}