.painel {
    -fx-background-color: linear-gradient(to bottom right, #1E90FF, #87CEEB	);
}

.root {
    -fx-background-color: #D3D3D3;
}

.botaoLogin{
    -fx-background-color: #1E90FF;
    -fx-font-size: 14px;
}

.receberInformacaoLogin{
	-fx-background-color: transparent;
	-fx-border-color: #1E90FF;
	-fx-border-width: 0px 0px 2px 0px;
	
	-fx-font-size: 18px;
	-fx-text-fill: #1E90FF;
	
	-fx-prompt-text-fill: #1E90FF;
}

.labelUsuarioSenha{
	-fx-font-weight:bold;
	-fx-font-size: 18px;
	-fx-font-color: #1E90FF;
}

.menu-item:hover {
    -fx-background-color: #e3e3e3;
    -fx-cursor: hand;
}